.App {
  text-align: center;
  background:url('/Users/necatiozmen/Desktop/testyoga.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map {
  width: 600px;
    height: 700px;
    margin: 0px;
    padding: 0px;
    position: relative;
    float: right;
}


.studios {
  display: flex;
  flex-wrap: wrap;

}

.profilecreate {

 display: flex;
 flex-direction: column;
 align-items: center;
  /* align-content: center; */

}

.instructors {
  margin: 100px;
}

.profilecreatebutton {
margin: 20px;
}

.tabs-container {
  background-color: red !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
