body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.StudioCard {
    width: 50px !important;
    margin: 0 auto !important;
    border: 2px solid #FF9800 !important;
    background-color: #ffd699 !important;
  }

.phone-icon {
  padding-right: 15px;
  padding-top: 10px;
  /* margin-left: 20px; */
}

.location-icon {
  /* margin-top: 25px; */
  padding-top: 20px;
}


.reviewdialog {
  color:grey;
  width: 700px;
  font: italic 1.2em "Fira Sans", serif;
  text-align: center;
  padding: 5px;
  font-weight: 
  /* float: left; */
}

.dialog {
  width: 600px;
  background:red;
}
